*{
	box-sizing: border-box;
}
body {
	background-color: black;
	margin: 0;
	padding: 20px;
}

#logo {
	position: absolute;
	left: 20px;
	height: 70px;
	width: auto;
	margin: 0;
}
#heading{
	display: inline;
	height: 70px;
	width: 100%;
	overflow: hidden;
}

#navigation{
	text-align: left;
	top: 70px;
	left: 155px;
	position: absolute;
	margin: 0px;
	float: right;
	color: #e2e2e2;
	font-family: Helvetica, Sans-serif;
	font-size: 40px;
	text-shadow: 0 2px 2px black;
	z-index: 1;
}

#navigation, a {
	text-decoration: none;
	color: #e2e2e2;
}

#navigation, a:link{
	color: #e2e2e2;
}

#navigation, a:visited{
	color: #e2e2e2;
}

#navigation, a:hover{
	color: DimGray;
}

#navigation, a:active{
	color: Red;
}

#content {
	margin-top: 80px;
	padding: 30px 20px;
}

div.box{
	box-sizing: border-box;
	float: left;
}

/*Window that data loads into*/
div.window{
	height: 90%;
	width: 85%;
	margin-left: 50px;
	margin-right: 50px;
}

.page{
	background-color: #e2e2e2;
	padding: 15px;
	height: 100%;
	min-height: 500px;
}

.post{
	padding: 10px;
	text-align: left;
	margin: 20px 10px;
	background-color: rgb(200,200,200);
	color: rgb(40, 40, 40);
	font-family: Helvetica, Sans-serif;
}
a.post{
	padding: 0;
	margin: 0;
	text-align: left;
	text-decoration: underline;
	color: rgb(40, 40, 40);
}

a:visited.post{
	color: rgb(40, 40, 40);
}

a:hover.post{
	color: white;
}

a:active.post{
	color: red;
}

p.post{
	font-size: 17px;	
}

h1.post{
	font-style: normal;
	font-weight: 100;
}

h2.post{
	font-style: italic;
	letter-spacing: 0.1em;
	font-size: 16px;
}
p.projects{
	font-weight: 100;
	letter-spacing: 0.1em;
	font-size: 16px;
}