/*Class Styles*/
.home{
	background-image: url("image_assets/BatandHarley.jpg");
	background-color: Gray;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.food{
	background-image: url("image_assets/foodphotographybg.jpg");
	background-color: Gray;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.mainly{
	font-weight: Bold;
	font-size: 18pt;
	color: White;
	text-shadow: 0px 0px 2px black;
}

.insidebox{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*Anchor Styles*/
a:link {
    color: Black;
}

a:visited {
	color: Black;
}

a:hover {
	color: White;
}

a:active {
	color: Red;
}

a{
	background-color: White;
}

/*Elements and Text Styles*/
h1, h4{
	margin-left: 10px;
	margin-right: 10px;
	font-family: Helvetica, Sans-Serif;
	color: White;
	text-shadow: 3px 3px 5px Black;
}

body{
	margin-top: 50px;
}

nav{
	margin-left: 10px;
	margin-right: 50px;
	text-align: left;
}

section{
	margin-left: 50px;
	margin-right: 50px;
}

article{
	background-color: White;
	border: Black;
}

a,p{
	font-family: Courier;
	font-size: 14pt;
	color: Black;
	font-weight: bold;
}

p{
	text-align:left;
}

hr{
	margin-left: 10px;
	border: none;
	color: White;
	background-color: White;
	height: 2px;
	width: 85%;
	text-align: left;
}

table{
	width: 85%;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 80px;
}

td{
	padding: 10px;
}