/*Class Styles*/

#title_card{
	background-color: rgba(255,255,255, 0.2);
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#bkg{
	background-image: url("image_assets/foodphotographybg.jpg");
	background-color: Gray;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#navbar{
	width: 100%
	font-weight: Bold;
	font-size: 18pt;
	color: White;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.insidebox{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.window{
	width: 85%;
	margin-right: 50px;
	margin-bottom: 50px;
}

/*Anchor Styles*/
a:link {
    color: Black;
}

a:visited {
	color: Black;
}

a:hover {
	color: White;
}

a:active {
	color: Red;
}

a{
	background-color: White;
}

/*Elements and Text Styles*/
h1, h4{
	margin-left: 10px;
	margin-right: 10px;
	font-family: Helvetica, Sans-Serif;
	color: White;
	text-shadow: 3px 3px 5px Black;
}

body{
	margin-top: 50px;
}

nav{
	margin-left: 10px;
	margin-right: 50px;
	text-align: left;
}

section{
	margin-left: 50px;
	margin-right: 50px;
}

article{
	background-color: White;
	border: Black;
}

a,p{
	font-family: Courier;
	font-size: 14pt;
	color: Black;
	font-weight: bold;
}

p{
	text-align:left;
}

hr{
	margin-left: 10px;
	border: none;
	color: White;
	background-color: White;
	height: 2px;
	width: 85%;
	text-align: left;
}
/*
Image Gallery DIV Code
*/
div.gallery_row{
	width:100%;
}

div.gallery {
	width: 21%;
    margin: 5px;
    border: 0px;
    float: left;
}

div.gallery img {
	display: block;
	vertical-align: center;
    width: 100%;
    height: auto;
}

/*Light Box Code*/
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	display: block;
	margin: auto;
	max-width: 80%;
	max-height: auto;
	margin-top: 4%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}